Library
Temp
*.csproj
*.sln
*.pidb
*.userprefs
**/*.xcodeproj/*
!**/*.xcodeproj/project.pbxproj
!**/*.xcworkspace/contents.xcworkspacedata
/plugins/Android/.gradle
/plugins/Android/.idea
/.idea
/plugins/Android/gradle_build/build
